p {
 font-style: italic;
 font-weight: 900;
}

#borderpara {
  border-style: dashed;
  border-width: 2px 4px;
  border-color: orange;
  padding: 5px;
  margin: 2px 4px 6px 8px;
  height: 100px;
  width: 50%;
  overflow: auto;
  margin: auto;
}


#divone{
  border-style: dashed;
  border-width: 2px 4px;
  border-color: orange;
  height: 100px;
  width: 50%;
  position: relative;
}

#divtwo {
  border-style: dashed;
  border-width: 2px 4px;
  border-color: orange;
  height: 50px;
  width: 50%;
}

#divthree {
  border-style: dashed;
  border-width: 2px 4px;
  border-color: orange;
  height: 25px;
  width: 50%;
  position: absolute;
  right: 50px;
}

.flex-container {
  display: flex;
  /* justify-content: center; */
  /* align-items: flex-start; */
  /* justify-content: flex-end; */
  /* align-items: flex-end; */
}


.flex-item {
  height: 50px;
  width: 200px;
  background-color: yellow;
  border-width: 5px;
  border-style: dashed;
  /* align-self: center; */
}

.grid-container {
  display: grid;
  gap: 10px 10px;
  grid-template-columns: auto auto auto;
  background-color: aqua;
}

.grid-item {
  height: 50px;
  width: 100%;
  background-color: blue;
  border-width: 5px;
  border-style: dashed;
}

#grid-item-1 {
  grid-column: 1/span 3;
}

/* #grid-item-2 {
  grid-column-start: 2;
  grid-column-end: 4;
} */
/* 
#grid-item-1 {
  grid-row-start: 1;
  grid-row-end: 3;
  height: 100%;
} */

@media (min-width:767px) and (max-width:992px), (min-width:1200px) {
  .flex-container {
    flex-direction: column;
  }
}










